<!DOCTYPE html>

<html>
<head>
	<title> Final </title>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/art.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../app/scroll.js"></script>
	<script type="text/javascript" src="../app/menu.js"></script>


<body>
	<header>
		<h1><i>Mark Pillco</i></h1>
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">Menu</i></a>
		</div>
	</header>
	<nav class="menu">
		<a href="../index.html" class="item_menu">home</a>
		<a href="programmer.html" class="item_menu">Programmer</a>
		<a href="art.html" class="item_menu">Artist</a>
		<a href="about.html" class="item_menu">About</a>
		<a href="cv.html" class="item_menu">CV</a>
	</nav>
	<div class="container">
	
<div class="banner">Never</div>

		<div class="One">
		<img class="NMB" src="../images/NNB.png">
		<p> This is my favorite drawing that I've done as of yet. While you can see that I had a rough time with the eyes, I still think they're the best that have I've done so far. The scan for this drawing doesn't do the hair justice, but I think it did get the shade from the hat and the bag correct.
		</p>
		</div>

		<div class="Two">
		<img class="ATree" src="../images/Treemain.png">
		<p> I enjoy nature so I decided to draw a tree. Looking back at how this is drawn, there is a slight slant from the bottom towards the top. However, it doesn't completely mess up the photo! I very much like how the shading came out in this photo, specifically the darker shading from the bottom toward the top of the leaves.
		</p>
		</div>

		<div class="Three">
		<img class="Doom" src="../images/Doom.png">
		<p> This is an ode to rapper MF DOOM, a London based rapper born in NYC. I very much like his blend of comic books, specifically that his monicur derives from the Marvel Villian Doctor Doom, and street art, such as graffiti.
		</p>
		</div>

		<div class="Four">
		<img class="Eye" src="../images/Eye.png">
		<p> I saw an artist friend do a 5 minute eye challenge on his ig, so I figured why not I had 5 minutes to spare. Overall I like how the eyebrow came out and the way the eye came out! I can do individual parts pretty well but still putting together all those facial features is harder.
		</p>
		</div>

		<div class="Five">
		<img class="Rose" src="../images/Rose.png">
		<p> This is one of the first things I've drawn. I enjoy nature and flowers, primarily roses, so I figured I'd draw one. one of the harder parts that I had with this project is understanding what shading was. I originally didn't have any in the center of the photo, until a friend informed me about what it was.
		</p>
		</div>
	</div>
</div>
</body>
</html>