<!DOCTYPE html>

<html>
<head>
	<title> Final </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/cv.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../app/menu.js"></script>
	
</head>

<body>

<header>
		<h1><i>Mark Pillco</i></h1>
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">Menu</i></a>
		</div>
	</header>
	<nav class="menu">
		<a href="../index.html" class="item_menu">home</a>
		<a href="programmer.html" class="item_menu">Programmer</a>
		<a href="art.html" class="item_menu">Artist</a>
		<a href="about.html" class="item_menu">About</a>
		<a href="cv.html" class="item_menu">CV</a>
	</nav>

<div class="container">
	<h3> Resume </h3>
	<p>EDUCATION:Fordham University, New York, NY <br> 
	Bachelor of Science in Computer Science<br>
	Minor in New Media and Digital Design<br>
	Expected Graduation Date:  May 2020<br>	
</p>
<p>
RELEVANT COURSES:
•	Computer Science I <br>
•	Computer Science II <br>
•	Data Structures <br>
•	Database Systems <br>
•	Intro to Video Game Design <br>
•	Fundamentals of New Media and Digital Design <br>
•	Information and Web Programing<br>
</p>

</p>
	<p>EXPERIENCE:
Fordham University Science Technology Entry Program (STEP) New York, NY      Tutor/Counselor    September 2016 – Present <br>
•	Engage students during academic periods and during recreation, in labs, and through lunch periods <br>
•	Supervise and conduct tutoring sessions for students in the areas of geometry and chemistry<br>
</p>

<p>LEADERSHIP: STEP Service Learning Project			Leader				     June 2017 – August 2017 <br>
•	Engaged a group of 10 students in a service learning project that pertained to LGBTQ Rights <br>
•	Supervised students on site visits to the Stonewall National Monument with help from the National Park Rangers<br>
•	Facilitated discussions regarding current social issues in the LGBTQ community and stigmas that affect said community<br>
</p>

<p>TECHNICAL / NON-TECHNICAL SKILLS: <br>
•	Native Spanish <br>
•	Microsoft Word, Mac Operating System <br>
•	C+ +, HTML,CSS, JS, SQL
</p>

</div>

</body>

</html>