<!DOCTYPE html>

<html>
<head>
	<title> Final </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/programmer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../app/menu.js"></script>
	<script type="text/javascript" src="../app/main.js"></script>
	
</head>

<body>

<header>
		<h1><i>Mark Pillco</i></h1>
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">Menu</i></a>
		</div>
</header>
	<nav class="menu">
		<a href="../index.html" class="item_menu">Home</a>
		<a href="programmer.html" class="item_menu">Programmer</a>
		<a href="art.html" class="item_menu">Artist</a>
		<a href="about.html" class="item_menu">About</a>
		<a href="cv.html" class="item_menu">CV</a>
	</nav>

	<div class="container"
	<div class="slideshow-container">
		<!-- The space gives the slides two classes -->
		<div class="mySlides fade">	
				<h3> SQL</h3>
				<a href="https://github.com/MarkPillco/DBProject" target="_blank">
				<img class="Slide-1" src="../images/DatabaseProject.jpg">
				</a>

				<a href="https://github.com/MarkPillco/UseDatabase" target="_blank">
				<img class="Slide-2" src="../images/UsingDatabase.jpg">	
				</a>
		</div>

		<div class="mySlides fade">
				<h3> C++ Structures </h3>
				<a href="https://github.com/MarkPillco/MiniProject" target="_blank">
				<img class="Slide-1" src="../images/Mini Project.jpg">
				</a>
				
				<a href=" https://github.com/MarkPillco/CISC16-Lab4" target="_blank">
				<img class="Slide-2" src="../images/CS2 Lab4.jpg">
				</a>

		</div>

		<div class="mySlides fade">
				<h3> C++ </h3>
				<a href="https://github.com/MarkPillco/CISC16-Lab3" target="_blank">
				<img class="Slide-1" src="../images/CS2 Lab3.jpg">
				</a>
				
				<a href="https://github.com/MarkPillco/CS2-Lab1" target="_blank">
				<img class="Slide-2" src="../images/CS2 Lab1.jpg">
				</a>

		</div>

		

	</div>
	<!-- Next and previous buttons -->
	<a class="prev"> &#10094;</a>
	<a class="next"> &#10095;</a>

		<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		
		</div>

	</div>

</body>


</html
